{% extends 'app/base.html' %}
{% load static %}
{% block title %}Terms And Payments{% endblock title %}


{% block main-content %}

    <!--Payment-->
    <section class="contact py-lg-5 py-md-4 py-md-3 py-2" id="bgimage">
        <div class="container py-lg-5 py-md-4 py-md-3 py-2">
            <h2 class="text-center" style="color:#4e4c79; background-color: #e9ecef; padding: 10px;">TERM & PAYMENTS</h2>
        <div class="w3_mg">
        
        <p class=" my-lg-4 my-md-3 my-sm-2 my-2">
            
    <h3 style="color:#4e4c79; background-color: #e9ecef;  padding: 10px; text-align: center;">KBM JAPAN EXPORT TERMS AND CONDITIONS,</h3><br/>
    <ol style="color:#4e4c79; background-color: #e9ecef;  padding: 30px;">
    <li> Product of KBM JAPAN is sold based on FOB or C&F Terms.</li>
    <li> If export inspection is required at the buyer's country due to the import regulation, the inspection type & requirement must be implied from the buyer before the export.</li>
    <li> Minimum of 50%~100% deposit of the Total C&F is required for the shipment to be processed.</li>
    <li> All transaction fee must be paid fully from the Buyer's side.</li>
    <li> Further Discounts are given for 100% payment prior to the Exportation. Must be a one time payment for this discount to take place ensuring the banking charges are saved for both the Exporter and the Importer.</li>
    <li> Once the Shipment has been ordered, an SO (Shipping Order, BL draft) will be supplied to the customer, the customer is responsible to inform any change of consignee at this point of the stage.</li>
    <li> Once final balance is confirmed at our account, all necessary documentation for the import process will be supplied via DHL to the appointed address given from the buyer. The DHL tracking Number will be supplied when dispatched.</li>
    <li> The final balance of the total C&F price must be paid within 1 week time after the Departure date.</li>
    <li> Once final balance is confirmed at our account, all necessary documentation for the import process will be supplied via DHL to the appointed address given from the buyer. The DHL tracking Number will be supplied when dispatched.</li>
    <li> The DHL will include,
    Original Invoice
    Original Export Certificate (Japanese)
    Translated Export Certificate (English)
    Two Copies of the Original BL
    Original Export Inspection Certificate (If required)</li>
    <li>If the Customer shall fail to pay the balance in full after 10days after the vehicle arrival date at the Importer's Country, KBM JAPAN will have the full rights to forfeit the original deposit and to have the unit sold to a different customer to ensure the full collection for KBM JAPAN's security</li>
    
    </ol>
    
        </p>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Conatct Page
        </button> -->
    
    </div>
    </div>
    </section>
    
    
    <div class="container tbpayment">
      <!--First Table Start Here-->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2" class="text-center">KBMJAPAN Bank Account Details <br>
            For USD $/Yen INTERNATIONAL Transfers Only!
            </th>       
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bank Name</td>
            <td>MUFG Bank, LTD.</td>
            
          </tr>
          <tr>
            <td>Branch Name</td>
            <td>KOSHIGAYA BRANCH (381)</td>        
          </tr>
          <!-- <tr>
            <td>Bank Address</td>
            <td>15-14 YAYOICHO, KOSHIGAYASHI, SAITAMA, JAPAN</td>        
          </tr> -->
          
          <tr>
            <td>Bank Address</td>
            <td>15-14YAYOICHO, KOSHIGAYASHI, SAITAMA, JAPAN</td>
          </tr>
          
          <tr>
            <td>SWIFT CODE</td>
            <td>BOTKJPJT</td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">*Transaction fee must be paid by the Buyer / Importer</td>        
          </tr>
          <tr>
            <td colspan="2" class="text-center">**KBM JAPAN owns the above account ONLY,for international US$/Yen transfers,<br>
              and is NOT responsible any transaction made to an alternative account
            </td>        
          </tr>
        </tbody>
      </table>
    <!---Firsrt Table End Here -->
    
    
    
    
      <!---second Table Start Here-->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2" class="text-center">KBMJAPAN Bank Account Details <br>
            For YEN JAPAN DOSMESTIC Transfers Only!
            </th>       
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Account Name</td>
            <td>KBM JAPAN</td>
            
          </tr>
          <tr>
            <td>Branch Name </td>
            <td>KOSHIGAYA BRANCH (381)</td>        
          </tr>               
          
          <tr>
            <td>Account Type</td>
            <td>Futsu</td>
          </tr>
          <tr>
            <td>Account Number</td>
            <td>0477817</td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">* This account # is for Japan to Japan DOMESTIC YEN Transfers ONLY.</td>        
          </tr>
          <tr>
            <td colspan="2" class="text-center">**KBM JAPAN owns the above account ONLY for Domestic Yen Transfers,<br>
              and is NOT responsible any transaction made to an alternative account
            </td>        
          </tr>
        </tbody>
      </table>
    
      <!--second Table End Here-->
    </div>
    <!-- //payment -->





{% endblock main-content %}